
<!-- back starts -->   
<div class="back" style="font-family: Arial,sans-serif; color:black; font-size: 12px;text-align:justify;background-color:#E0ECFF;width:780px;height:auto;margin-left:250px;padding-bottom:45px;">
  <br/>
  <br/>
  <div style="text-align: left; padding: 0pt; margin: 0pt auto; width: 680px; background-color:#FFFFFF;">

    <div style="width: 680px; float: left;">
      <!-- header Starts -->          
      <%= render 'subscribers/header' %>
    </div>

    <!-- index starts -->          
    <div class="index" style="background-color:#EFEFEF;padding-left:40px;">
      <strong>Newsletters:</strong>
      <br/>
      <br/>
    </div>
    <!-- index ends -->          

    <!-- Content Starts -->  
    <div class="content" style="width: 600px; padding-left:40px; text-align:justify;">  

      <p>
      <% @news_index_list.each do |newsletter| %>
        <b><a href= "http://mailit.joshsoftware.com/<%= newsletter.created_at.strftime("%B_%G").gsub("_","") %>_Newsletter" target="_blank" style="color:black;"><%= newsletter.created_at.strftime("%B_%G") %></a></b>
        <hr noshade style="color: #AFAFAF;height: 3px;background-color: #AFAFAF;"></hr>
      <% end %>
      </p>

      <p> <div class="pagination" style="text-align:center;"> <%= will_paginate @news_index_list %> </div> </p>
    </div>
    <!-- Content ends -->  

    <!-- Footer starts -->  
    <%= render 'subscribers/footer' %>
    <!-- Footer end -->
  </div>
  <!-- Container Ends -->
</div>
