
<!-- back starts -->   
<div class="back">
  <br/>
  <br/>
  <div class="back1">

    <div class="back2">
      <!-- header Starts -->          
      <%= render 'subscribers/header' %>
    </div>

    <!-- index starts -->          
    <div class="index">
      <strong>Newsletters:</strong>
      <br/>
      <br/>
    </div>
    <!-- index ends -->          

    <!-- Content Starts -->  
    <div class="content">  

      <p>
      <% @news_index_list.each do |newsletter| %>
        <b><a href= "<%=DOMAIN_URL%><%= newsletter.created_at.strftime("%B_%G").gsub("_","") %>_Newsletter" target="_blank" style="color:black;"><%= newsletter.created_at.strftime("%B_%G") %></a></b>
        <hr noshade class="partition"></hr>
      <% end %>
      </p>

      <p> <div class="pagination" style="text-align:center;"> <%= will_paginate @news_index_list %> </div> </p>
    </div>
    <!-- Content ends -->  

    <!-- Footer starts -->  
    <%= render 'subscribers/footer' %>
    <!-- Footer end -->
  </div>
  <!-- Container Ends -->
</div>
