
<!-- back starts -->   
<div class="back">
  <br/>
  <br/>
  <div class="back1">

    <div class="back2">
      <!-- header Starts -->          
      <%= render 'subscribers/header' %>
      <!-- header ends -->          
    </div>

    <!-- index starts -->          
    <div class="index">
      <strong>Newsletters:</strong>
      <br/>
      <br/>
    </div>
    <!-- index ends -->          

    <div class="error">
      <%= flash[:error] if flash[:error].present?%>
      <%= flash[:error] =nil %>
    </div>

    <div class="notice">
      <%= flash[:notice] if flash[:notice].present?%>
      <%= flash[:notice] = nil%>
    </div>


    <!-- Content Starts -->  
    <div class="content">  
      <br/><br/>
      <b><a href="/add_subscriber" style="color:black;">Add New Subscriber</a></b>
      <hr noshade class="partition"></hr>
      <b><a href="/import_subscribers" style="color:black;">Import Subscribers</a></b>
      <hr noshade class="partition"></hr>
      <b><a href="/" style="color:black;">Clean Invalid Subscribers from SendGrid Account and Database</a></b>
      <hr noshade class="partition"></hr>
      <b><a href="/remove_bounced_subscribers" style="color:black;">Upload Subscribers To Remove</a></b>
      <hr noshade class="partition"></hr>
      <b><a href="/back_up_current_db" style="color:black;">Backup Current Database On Heroku</a></b>
      <hr noshade class="partition"></hr>
      <b><a href="/send_newsletters" style="color:black;">Send Newsletters</a></b>
      <hr noshade class="partition"></hr>
      <br/>
    </div>
    <!-- Content ends -->  

    <!-- Footer starts -->  
    <%= render 'subscribers/footer' %>
    <!-- Footer end -->
  </div>
  <!-- Container Ends -->
</div>
