
<!-- back starts -->   
<div class="back" style="font-family: Arial,sans-serif; color:black; font-size: 12px;text-align:justify;background-color:#E0ECFF;width:980px;height:auto;margin-left:180px;padding-bottom:45px;">
  <br/>
  <br/>

  <div style="width: 880px; float: left;padding:0 30pt;">
    <%= render 'subscribers/header' %>
  </div>

  <!-- index starts -->
  <div class="index" style="background-color:#EFEFEF;padding-left:40px;margin-left:40px;width:840px;">
    <strong>Newsletters:</strong>
    <br/>
    <br/>
  </div>
  <!-- index ends --> 

  <!-- Content Starts -->  
  <div class="content" style="width: 700px; padding-left:40px;text-align:justify;">  

    <div style="background-color:white;width:880px;">

      <%= form_tag send_newsletters_path,:multipart => true %>

      <div style="background-color:#F2C9C9;text-align:center;">
        <%= flash[:error] if flash[:error].present?%>
        <%= flash[:error] =nil %>
      </div>

      <div style="background-color:#D6CBCB;text-align:center;">
        <%= flash[:notice] if flash[:notice].present?%>
        <%= flash[:notice] = nil%>
      </div>

      <table style="padding:0 40pt;">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr>
            <td>Mailer Subject *</td>
            <td style="font-style:italic;color:#999999"><%= text_field_tag "subject", params[:subject] %>  e.g Josh Software | Newsletter | June 2011 </td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr>
            <td>Upload Mailer Template *</td>
            <td style="font-style:italic;color:#999999"> <%= file_field_tag  "template"%>  should be .html</td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr>
            <td>Type of Mailer *</td>
            <td> <%= select_tag  "send_mail",options_for_select([["Test Mailer","test"],["Existing Database","database",],["External Database","externaldb"]], :selected => params[:send_mail]) %></td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>

          <tr id="test_mail">
            <td>Enter email address (comma separated) *</td>
            <td> <%= text_area_tag "test_email_address", params[:test_email_address], :cols => "50", :rows => "5" %></td>
          </tr>

          <tr id="ex_db" style="font-style:italic;color:#999999">
            <td><b>Note:</b> Please note that the newsletter will be sent to </td>
            <td>the SUBSCRIBED-USERS only from the existing database</td>
          </tr>

          <tr></tr>

          <tr id="csv_upload">
            <td>Upload CSV *</td>
            <td> <%= file_field_tag  "csv_upload"%></td>
          </tr>

          <tr id="csv_upload_notes" style="font-style:italic;color:#999999"> 
            <td><b>Note:</b> Please ensure that the uploaded file is CSV file only</td>
            <td>and EMAIL ID's are placed in 1st COL of csv only</td>
          </tr>
          <tr></tr>
          <tr></tr>

          <tr id="notify_mail">
            <td>Enter notification email *</td>
            <td style="font-style:italic;color:#999999"><%= text_field_tag "notification_email", params[:notification_email] %> </td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>

        </tbody>
      </table>
      <p>
      <%= submit_tag 'Send Mailer',:style =>'background-color:#B5E1F4;margin-left:55px;'%>
      </p>
      <br/>
    </form>

    <div style="text-align:center;margin-top:20px;">
      <a href="/newsletters/manage"> back </a>
    </div>
    <br/>

    <script type="text/javascript">
      // <![CDATA[
    function set(){
      if($('#send_mail').val() == "test"){
        $('#test_mail').show();
        $('#ex_db').hide();
        $('#csv_upload').hide();
        $('#csv_upload_notes').hide();
        $('#notify_mail').hide();
      }
      else if($('#send_mail').val() == "externaldb"){
        $('#test_mail').hide();
        $('#ex_db').hide();
        $('#csv_upload').show();
        $('#csv_upload_notes').show();
        $('#notify_mail').show();
      }
      else{
        $('#test_mail').hide();
        $('#csv_upload').hide();
        $('#csv_upload_notes').hide();
        $('#ex_db').show();    
        $('#notify_mail').show();
      }
    }

set();
$(document).ready(function () {
    $('#send_mail').change(function(){
      set();
      });
    });
// ]]>
</script>

    </div>
  </div>
  <!-- Content ends -->  

  <!-- Footer starts -->  
  <div class="footer" style="background-color:#5685D6; height:70px;width:880px;margin-left:40px;">

    <a href="http://www.facebook.com/pages/Josh-Software-Private-Limited/239743580413"><img style="margin-left:370px;" height="45" border="0" width="40" src="http://www.joshsoftware.com/images/newsletters/facebook.png"></a>

    <a href="http://twitter.com/joshsoftware"><img style="margin-left:30px;" height="55" border="0" width="53" src="http://www.joshsoftware.com/images/newsletters/tweet.png"> </a>

    <a href="http://www.meetup.com/PuneRailsMeetup/"><img style="margin-left:30px" src="http://img1.meetupstatic.com/94068167911579584/img/logo_63x42.png" border="0"></a>

  </div>
  <!-- Footer ends -->
</div>
<!-- Back ends -->

