
<!-- back starts -->   
<div class="back" style="width:980px;margin-left:180px;">
  <br/>
  <br/>

  <div style="width: 880px; float: left;padding:0 36pt;">
    <%= render 'subscribers/header' %>
  </div>

  <!-- index starts -->
  <div class="index" style="margin-left:48px;width:840px;">
    <strong>Newsletters:</strong>
    <br/>
    <br/>
  </div>
  <!-- index ends --> 

  <!-- Content Starts -->  
  <div class="content" style="width: 700px;">  

    <div class="newsletter">

      <div class="total_subscriptions" style="text-align:center;">
        <b>[ Total Users :: <%=Subscriber.all.count%> , Subscribed :: <%=Subscriber.active.count%> ]</b>
      </div>  

      <%= form_tag add_subscriber_path %>
      <p>
      <div class="error">
        <%= flash[:error] if flash[:error].present?%>
        <%= flash[:error] = nil %>
      </div>

      <div class="notice">
        <%= flash[:notice] if flash[:notice].present?%>
        <%= flash[:notice] = nil%>
      </div>
      </p>

      <table style="padding:10pt 220pt;">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr>
            <td>First Name *</td>
            <td class="fld_help"><%= text_field_tag "first_name", @subscriber.try(:first_name) %></td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr>
            <td>Last Name *</td>
            <td class="fld_help"><%= text_field_tag "last_name", @subscriber.try(:last_name) %></td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr>
            <td>Email *</td>
            <td class="fld_help"><%= text_field_tag "email", @subscriber.try(:email) %></td>
          </tr>
        </tbody>
      </table>
      <p>
      <%= submit_tag 'Add Subscriber',:class => "submit_btn",:style =>'margin-left:390px;'%>
      </p>
      <br/>
    </form>

    <div class="back_btn" style="margin-top:20px;">
      <a href="/newsletters/manage"> back </a>
    </div>
    <br/>

    </div>
  </div>
  <!-- Content ends -->  

  <!-- Footer starts -->  
  <div class="footer" style="width:880px;margin-left:48px;">

    <a href="http://www.meetup.com/PuneRailsMeetup/" target="_blank"><img style="margin-left:12px;margin-top:13px;" src="http://img1.meetupstatic.com/94068167911579584/img/logo_63x42.png" border="0"></a>

    <a href="http://www.facebook.com/pages/Josh-Software-Private-Limited/239743580413" target="_blank"><img style="margin-left:655px;margin-bottom:10px;" src="http://joshsoftware.com/assets/glyphicons_390_facebook.png"></a>

    <a href="http://twitter.com/joshsoftware" target="_blank"><img style="margin-left:10px;margin-bottom:10px;" src="http://joshsoftware.com/assets/glyphicons_392_twitter.png"></a>

    <a href="http://blog.joshsoftware.com/" target="_blank"><img style="margin-left:10px;margin-bottom:10px;" src="http://joshsoftware.com/assets/glyphicons_397_rss.png"></a>

    <a href="http://www.linkedin.com/company/josh-software-private-limited" target="_blank"><img style="margin-left:10px;margin-bottom:10px;" src="http://joshsoftware.com/assets/glyphicons_377_linked_in.png"></a> 

  </div>
  <!-- Footer ends -->
</div>
<!-- Back ends -->

