
<!-- back starts -->   
<div class="back" style="font-family: Arial,sans-serif; color:black; font-size: 12px;text-align:justify;background-color:#E0ECFF;width:780px;height:auto;margin-left:250px;padding-bottom:45px;">
  <br/>
  <br/>
  <div style="text-align: left; padding: 0pt; margin: 0pt auto; width: 680px; background-color:#FFFFFF;">

    <div style="width: 680px; float: left;">
      <!-- header Starts -->          
      <%= render 'header' %>
      <!-- header ends -->          
    </div> 

    <!-- index starts -->          
    <div class="index" style="background-color:#EFEFEF;padding-left:40px;">
      <strong>Newsletters:</strong>
      <br/>
      <br/>
    </div>
    <!-- index ends -->          

    <!-- Content Starts -->  
    <div class="content" style="width: 600px; padding-left:40px; text-align:justify;">  
      <br/><br/>
      <%= form_tag remove_bounced_subscribers_path,:multipart => true %>  

      <div style="background-color:#F2C9C9;text-align:center;">
        <%= flash[:error] if flash[:error].present?%>
        <%= flash[:error] =nil %>
      </div>

      <div style="background-color:#D6CBCB;text-align:center;">
        <%= flash[:notice] if flash[:notice].present?%>
        <%= flash[:notice] = nil%>
      </div>

      <div style="text-align:center;padding-top:30px"> 
        Upload CSV * <%= file_field_tag  "bounces_csv"%><br/>
        <div style="font-style:italic;color:#999999"><b> Note:</b> Only CSV file is allowed. It should be in format: 1st col=Email id's </div>
      </div>
      <br/>
      <%= submit_tag 'Remove',:style =>'background-color:#B5E1F4;margin-left:260px;'%>
    </form>

    <div style="text-align:center;margin-top:60px;">
      <a href="/newsletters/manage"> back </a>
    </div> 
    <br/>
  </div>
  <!-- Content ends -->  

  <!-- Footer starts -->  
  <%= render 'footer' %>
  <!-- Footer end -->
</div>
<!-- Container Ends -->
</div> 
