
<!-- back starts -->   
<div class="back">
  <br/>
  <br/>
  <div class="back1">

    <div class="back2">
      <!-- header Starts -->          
      <%= render 'header' %>
      <!-- header ends -->          
    </div> 

    <!-- index starts -->          
    <div class="index">
      <strong>Newsletters:</strong>
      <br/><br/>
    </div>
    <!-- index ends -->          

    <!-- Content Starts -->  
    <div class="content">  
      <p>
      <%= form_tag remove_bounced_subscribers_path,:multipart => true %>  

      <div class="error">
        <%= flash[:error] if flash[:error].present?%>
        <%= flash[:error] =nil %>
      </div>

      <div class="notice">
        <%= flash[:notice] if flash[:notice].present?%>
        <%= flash[:notice] = nil%>
      </div>

      <div style="text-align:center;padding-top:30px"> 
        Upload CSV * <%= file_field_tag  "bounces_csv"%><br/>
        <div class="note"><b> Note:</b> Only CSV file is allowed. It should be in format: 1st col=Email id's </div>
      </div>
      <br/>
      <%= submit_tag 'Remove',:class =>'submit_btn'%>
    </form>
    </p>

    <div class="back_btn">
      <a href="/newsletters/manage"> back </a>
    </div> 
    <br/>
  </div>
  <!-- Content ends -->  

  <!-- Footer starts -->  
  <%= render 'footer' %>
  <!-- Footer end -->
</div>
<!-- Container Ends -->
</div> 
